body {
    margin: 0;
    font-family: "Times New Roman", Arial!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightcyan;
}

code {
    font-family: 'Courier-New', monospace;
}